[submodule "submodules/libadm"]
	path = submodules/libadm
	url = https://github.com/ebu/libadm.git
[submodule "submodules/libbw64"]
	path = submodules/libbw64
	url = https://github.com/ebu/libbw64.git
[submodule "submodules/bear"]
	path = submodules/bear
	url = https://github.com/ebu/bear.git
[submodule "submodules/libsamplerate"]
	path = submodules/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
